
body {
    background-color: #EFF6FF;
    margin: 2cm;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.main {
    display: flex;
    justify-content: left;

}

.container {

}