@font-face {
    font-family: "Regular";
    src: url("barlow/Barlow-Regular.otf");
}
@font-face {
    font-family: "Bold";
    src: url('barlow/Barlow-SemiBold.otf');
}
@font-face {
    font-family: "Light";
    src: url("barlow/Barlow-Light.otf");
}
body {
    background-color: #EFF6FF;
    margin: 5%;
}

.main-container {
    background-color: white;
    display: flex;
    height: 100%;
}

h2 {
    font-family: "Bold";
}

.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100;

}

.main-img {
    max-width: 100%;
}

.content {
    padding: 60px;
    flex: 1;
    flex-direction: row;
    background-color: white;
    font-family: "Regular"; 
}

.buttons {

    display: flex;
    margin-bottom: 20px;
    gap: 15px;
}

.facebook {
    flex: 1;
    background-color:#255A9B;
    width: 250px;
    height: 40px;
    color: white;

}

.linkedin {
    flex: 1;
    color: white;
    background-color: #0076B6; 
    width: 250px;
    height: 40px;

}

.form{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    border: none;
}

input[type="email"] {
   flex: 1;
   padding: 12px;
}

input[type="tel"] {
    flex: 1;
    padding: 12px;
}

.radio {
    flex: 1;
    gap: 20px;
}

label[for="Terms"] {
    font-family: "Light";
}

button[type="submit"] {
    width: 49%;
    padding: 15px;
    color: white;
    font-weight: bold;
}
